h1, h2, h3, h4 {
    text-align: left;
    color: black;
}


#footer { 
    position: fixed;
    bottom: 10;
    left: 10;
}

//hyperlinks
a:link    {color:SteelBlue; background-color:transparent; text-decoration:none !important}
a:visited {color:gray; background-color:transparent; text-decoration:none !important}
a:hover   {color:DeepSkyBlue; background-color:transparent; text-decoration:none !important}
a:active  {color:LightBlue; background-color:transparent; text-decoration:none !important}