h1, h2, h3, h4 {
    text-align: left;
    color: black;
	margin-bottom: 0px;
}


#footer { 
    position: fixed;
    bottom: 10;
	right : 10;
	text-align: right;
	
}

//hyperlinks
a,a:link    {color:SteelBlue; text-decoration:none !important}
a,a:visited {color:gray; text-decoration:none !important}
a,a:hover   {color:DeepSkyBlue; text-decoration:none !important}
a,a:active  {color:LightBlue; text-decoration:none !important}